@model IEnumerable<Examen.ApplicationCore.Domain.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodePatient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomComplet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailPatient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informations)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodePatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailPatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodePatient">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodePatient">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodePatient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
